<div>
  <%= flash[:notice] %>
</div>

<h2>title</h2>
<p><%= @books.title %></p>

<h2>body</h2>
<p><%= @books.body %></p>

<%= link_to "edit",edit_book_path(@books.id) %>
<%= link_to "back",books_path %>